/*

h1{
  font-size: 3.5em;
  color: black
  text-align: center;
}
body {
  text-align: center;
  font-family: Budhayanti Script,monospace;
  background-color: #ffffff;
}
ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #edc2c2;

}

li.navlist {
    float: right;

}

li.navlist a {
    display: block;
    color: white;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
}

li.navlist a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #ffffff;
}
img.left  {
    float: left;
  }
img.right  {
    float: right;
  }


  test*/



  .nav{
    border:1px solid #ccc;
    border-width:1px 0;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
    background-color: #edc2c2;
}
.nav li{
    display:inline;
}
.nav a{
    display:inline-block;
    padding:10px;
}

li.navlist a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #ffffff;
}


img.left  {
    float: left;
  }
img.right  {
    float: right;
  }
img.center{
  float: center;
}

  h1{
    font-size: 3.5em;
    color: black
    text-align: center;
  }
  body {
    text-align: center;
    font-family: Budhayanti Script,monospace;
    background-color: white;
    text-color: navy;
  }

  a {
    color: white;
  }
